*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}
#header{
    display: flex;
    
}
#header-left{
    width: 50%;
}
body{
    background-color: black;
}
#header-left a{
    font-size: 30px;
    color: orangered;
    text-transform: uppercase;
}
#header-right a:hover{
    color: orangered;
    cursor: pointer;
    border-bottom: orangered solid  ;
}
#anime{
    height: auto;
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
    margin: 50px;
    height: 300px;
}
#content{
    display: flex;
}
#content-left{
    width: 40%;
}
#content-right{
    width:60%;
    display: flex;
    height: 100%;
    flex-direction: column;
    height: 100%;
}
#content-right h1,h2,p,button{
    color: rgb(7, 7, 7);
    text-transform: capitalize;
    margin: 10px;
}
#inner{
    margin-top: 50px;
    padding: 30px;
}
#btn{
    height: 50px;
    background:transparent;
    border: 3px solid green;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 20px;
    text-transform: capitalize;
}
body{
    background-image: url("top-view-of-computer-mouse-and-keyboard-on-blue-background-photo.jpg");
    background-size: cover;
}