*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.choices{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;

    
}
.choice:hover{
    opacity: 50%;
}
img{
     height: 150px;
     width: 150px;
     border-radius: 50%;
}
h1{
    background-color: rgb(179, 21, 137);
    text-align: center;
    color: white;
}
.scoreboard{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.msg-container{
    display: flex;
    justify-content: center;
  
}
#infrom{
    background-color: rgb(242, 234, 7);
    padding: 5px;
      border-radius: 10px;
    
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}